executor="torque"
account="bioinf"
queue="batch"

walltime="02:00:00"
mem_param="mem"
memory="4"
proc_mode=1

modules="java R bedtools fastqc trimmomatic sratoolkit samtools subread bowtie2 star python multiqc"

commands {
    tiny {
        walltime="01:00:00"
	memory="4"
    }

    small {
        walltime="02:00:00"
        memory="8"
    }

    medium {
        walltime="05:00:00"
        memory="10"
    }

    large {
	walltime="12:00:00"
        memory="50"
    }

    trimmomatic {
	 walltime="02:00:00"
         memory="10"
	 procs=4
    }

    count {
        walltime="02:00:00"
        memory="8"
	proce=4
    }

    bowtie2 {
        walltime="04:00:00"
        memory="4"
	procs=4
    }

    srtindex {
        walltime="01:00:00"
        memory="4"
        procs=4
    }

    star1pass {
	walltime="10:00:00"
        memory="40"
        procs=4
    }

    star2pass {
	walltime="10:00:00"
        memory="36"
        procs=4
    }

    stargen {
	walltime="10:00:00"
        memory="24"
        procs=4
    }

    multiqc {
        walltime="01:00:00"
    }
}
